@import '../../styles/utils/mixins';

.catalog-grid {
  display: grid;
  place-items: center;
  gap: 40px;
  justify-content: center;
  max-width: 1200px;

  @include onMobile {
    grid-template-columns: repeat(1, 288px);
    column-gap: 16px;
  }

  @include onTablet {
    grid-template-columns: repeat(2, 288px);
  }

  @include onTablet-grid {
    grid-template-columns: repeat(3, 229px);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 272px);
  }
}
