.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__buy {
    width: 75%;
    height: 40px;

    margin-right: 8px;
  }

  &__favorite {
    width: 25%;

    &:hover {
      border-color: #000;
      transform: scale(1.1);
    }
  }
}
