$primary-color: #0f0f11;
$secondary-color: #89939A;
$accent-color: #4219D0;
$secondary-accent-color: #F4BA47;
$icons-color: #B4BDC3;
$elements-color: #E2E6E9;
$hoverBG-color: #FAFBFC ;
$white-color: #fff;
$green-color: #27AE60 ;
$red-color: #eb5757;